###  Создание моделей с помощью ансамблевых методов с разделением данных  в соотношении  80- тренировочные  и 20-тестовые

In [1]:
##Импортируем библиотеки 
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt

In [2]:
## Загрузка базы данных 
df = pd.read_csv('cleaned_work.csv',header=0)

In [3]:
df.drop(['Year'],axis=1, inplace=True)

In [4]:
df.head()

,Location,Soil Type,Max_Temperature,Min_Teperature,Rainfall,Humidity,Yield Kg/ha
0,Issyk_Kulsky_peg,Black Soil,31.0,13.0,811.2,68.0,980.0
1,Issyk_Kulsky_peg,Black Soil,30.5,16.0,811.2,72.0,670.0
2,Issyk_Kulsky_peg,Black Soil,29.5,14.0,811.2,68.0,730.0
3,Issyk_Kulsky_peg,Black Soil,30.0,13.0,811.2,54.0,710.0
4,Issyk_Kulsky_peg,Black Soil,31.0,12.0,811.2,70.0,780.0

In [5]:
df.shape

(8077, 7)

In [6]:
### Разделение независимых и зависимых функций
X = df.iloc[:,:-1]
y = df.iloc[:, 6]

In [7]:
X = pd.get_dummies(X, drop_first=True)

In [8]:
X.head()

,Max_Temperature,Min_Teperature,Rainfall,Humidity,Location_Issyk_Kulsky_peg,Location_Jety_Ogyz_peg,Location_Tupsky_peg,Soil Type_Light Soil
0,31.0,13.0,811.2,68.0,1,0,0,0
1,30.5,16.0,811.2,72.0,1,0,0,0
2,29.5,14.0,811.2,68.0,1,0,0,0
3,30.0,13.0,811.2,54.0,1,0,0,0
4,31.0,12.0,811.2,70.0,1,0,0,0

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [10]:
# Напечатаем количество объектов  обучающего и тестового набора(80-20)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(6461, 8)
(1616, 8)
(6461,)
(1616,)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Построение регрессионной модели с помощью Случайного леса

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score
RF = RandomForestRegressor()
RF.fit(X_train, y_train)
pred = RF.predict(X_test)

print('MSE =', mse(pred, y_test))
print('MAE =', mae(pred, y_test))
print('R2 Score =', r2_score(pred, y_test))

MSE = 494587.13208383846
MAE = 487.60996257415917
R2 Score = 0.44165313571540477

### Построение регрессионной модели с помощью Ада буст

In [14]:
# Алгоритм AdaBoost (80-20)
from sklearn.ensemble import AdaBoostRegressor
Adb = AdaBoostRegressor()
Adb.fit(X_train, y_train)
pred = Adb.predict(X_test)

print('MSE =', mse(pred, y_test))
print('MAE =', mae(pred, y_test))
print('R2 Score =', r2_score(pred, y_test))

MSE = 568873.4794199932
MAE = 585.5748633241241
R2 Score = 0.15021870601501464

### Построение регрессионной модели с помощью  Градиентного бустинга

In [15]:
# Градиентный бустинг(80-20)
from sklearn.ensemble import GradientBoostingRegressor
GB = GradientBoostingRegressor() 
GB.fit(X_train, y_train) 
   
# Predicting the Test set results 
y_pred = GB.predict(X_test)


print('MSE =', mse(y_pred, y_test))
print('MAE =', mae(y_pred, y_test))
print('R2 Score =', r2_score(y_pred, y_test))

MSE = 461519.1921319435
MAE = 489.7667301176467
R2 Score = 0.3388531656585182